<!DOCTYPE HTML>
<html>
<head>
  <title>Cameras</title>

  <!-- when using the mode "code", it's important to specify charset utf-8 -->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="scripts/peer.js"></script>

 <script src="scripts/single.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body onload="init()">
<h1>My Camera Monitoring </h1>
<div id="headerdiv"></div>

<div id="remoteVideos" >
<table id="videotable"></table>
</div> <br />
<div id="vstat"></div>



   </body>
</html>
