<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">
<script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="scripts/control.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body onload="init()">
  <section class="section">
    <div class="container">
      <h1 class="title">
  My Home Control Panel
      </h1>


<div class="columns">
<div class="column" id="lights">
      <p class="subtitle">
        Lights
      </p><br>


</div>

<div class="column" id="cameras">
      <p class="subtitle">
        Cameras
      </p><br>


</div>

<div class="column" id="hmis">
      <p class="subtitle">
        HMI
      </p><br>


</div>


<div class="column" id="miscs">
      <p class="subtitle">
        Misc
      </p><br>


</div>
</div>

</div>

  </section>
<div id="log"></div>
  </body>
</html>
